commit.template

clickstream
data
tmp
twitterCredentials.properties
**/logs
**/*.iml
**/.idea
**/.settings

**/.project
**/.classpath
**/bin

**/target

**/javadocs

.project
.classpath

*.pmd
*.MF
.vagrant
my-env-config.yml
*guice.dot

**/checkstyle-report

# Mac specific files
**/*.DS_Store


